# Tuples

In [1]:
t1 = tuple(eval(input("Enter input for tuple1:")))
t2 = tuple(eval(input("Enter input for tuple2:")))
t3 = tuple(eval(input("Enter input for tuple3:")))
print("Tuple1:",t1)
print("Tuple2:",t2)
print("Tuple3:",t3)

Enter input for tuple1: "abcdef"
Enter input for tuple2: 3,4,5,6
Enter input for tuple3: [11,12,13]

Tuple1: ('a', 'b', 'c', 'd', 'e', 'f')
Tuple2: (3, 4, 5, 6)
Tuple3: (11, 12, 13)

In [3]:
print("Tuple1:",type(t1))
print("Tuple2:",type(t2))
print("Tuple3:",type(t3))

Tuple1: <class 'tuple'>
Tuple2: <class 'tuple'>
Tuple3: <class 'tuple'>

In [12]:
t1 = eval(input("Enter input for tuple:-"))
print("Created tuple is :",t1)
print("type of t1:",type(t1))

Enter input for tuple:- 67,

Created tuple is : (67,)
type of t1: <class 'tuple'>

In [13]:
t1 = eval(input("Enter input for tuple:-"))
print(t1[0],t1[-1])
print(t1[1],t1[-2])
print(t1[3],t1[-3])

Enter input for tuple:- 11,12,13,14,15,16,17,18,19

11 19
12 18
14 17

In [15]:
t = ('Hello','Isnt','Python','Fun','?')
length = len(t)
for a in range(length):
    print('At indexes',a,'and',(a-length),'element:',t[a])

At indexes 0 and -5 element: Hello
At indexes 1 and -4 element: Isnt
At indexes 2 and -3 element: Python
At indexes 3 and -2 element: Fun
At indexes 4 and -1 element: ?

In [16]:
tup=eval(input("Enter input for tuple:"))
t1 = tup[::-3]
t2 = tup[2:8:2]
print("two created tuples are:")
print("tuple1 ",t1)
print("tuple2 ",t2)

Enter input for tuple: 1,2,3,4,5,6,7,8,9,10,11

two created tuples are:
tuple1  (11, 8, 5, 2)
tuple2  (3, 5, 7)

In [18]:
tup = eval(input("Enter a tuple:"))
ln = len(tup)
num = tup.count(tup[0])
if num == ln:
    print("tuple contains all the same elements.")
else:
    print("Tuple contains differente elements.")

Enter a tuple: 26,25,24,28

Tuple contains differente elements.

In [22]:
t1 = (11,21,31,42,51)
tl1= list(t1)
tl1[-2]=41
t1= tuple(tl1)
print("modified tuple :",t1)

modified tuple : (11, 21, 31, 41, 51)